* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background: #30EBD3FF;
    background: linear-gradient(90deg, rgba(48,235,211,1) 0%, rgba(30,209,186,1) 35%, rgba(30,84,242,1) 100%);
    color: white;
    font-family: "Roboto Light", sans-serif;
    min-height: 100vh;
}

.todo-form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.todo-form__input,
.todo-form__button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

.todo-form__button {
    color: #fff;
    background: #30EBD3FF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-form__button:hover {
    background: #41cce3;
    color: white;
}

.todo-form__select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

.select {
    color: #09458d;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}

.select {
    padding: 1rem;
}

.todo-form__select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #09458d;
    cursor: pointer;
    pointer-events: none;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 40%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.todo-item {
    flex: 1;
    padding: 0rem 1rem;
}

.todo-edit__input {
    font-size: inherit;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 3%;
    outline: none;
}

.todo-edit__button {
    background: #2b3386;
    color: white;
    border: none;
    font-size: inherit;
    padding: 0.5rem 1rem;
}

.edit-btn,
.trash-btn,
.complete-btn {
    background: #09458d;
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.2rem;
}

.edit-btn {
    background-color: #41cce3;
}

.complete-btn {
    background: rgb(11, 212, 162);
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
